.title{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-top: -488;
}

.body{
    background-color: lightslategray;
}

#body{
    background-color: lightskyblue;
}

.img{
    margin-left: 1266;
    border-radius: 50%;
    margin-top: -490;
    border: white;
    border-style: solid;
}

a:link{
    color:firebrick
}

a:visited{
    color: white;
}

a:hover{
    color: darkblue;
}



.ui.tabular.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    background-color: orange;
    height: 2em;
    text-indent: 2em;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    text-decoration: none;
    border-radius: 4px;
    outline-color: white;
    outline-style:solid
  }

  .ui.tabular.menu .item {
    font-family:PremierSans-Heavy,Arial,Helvetica Neue,Helvetica,sans-serif;
    color: white;
    font-weight:bold;
    text-decoration: none;
  }

  .ui.tabular.menu .active.item {
    background-color: orange;
    color:white;
    text-decoration: underline;
  }

  


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    box-shadow: 0px 8px 16px 0px orange;
    background-color: orange;
    text-align: center;
    top: 100%;
    left: 0;
    white-space: nowrap;
    padding: 0;
    font-family:PremierSans-Heavy,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: bold;
  }

  .dropdown-content a:hover 
  {
    background-color: lightblue;
    color: black;
}


  .dropdown-content a {
    color: white;
    padding: 5px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    left: 0;
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    position: relative;
    top: -3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

 