.title{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-top: -488;
}

.body{
    background-color: lightslategray;
}

#body{
    background-color: lightskyblue;
}

.img{
    margin-left: 1266;
    border-radius: 50%;
    margin-top: -490;
    border: white;
    border-style: solid;
}

a:link{
    color:firebrick
}

a:visited{
    color: white;
}

a:hover{
    color: darkblue;
}

.ui.tabular.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    background-color: orange;
    height: 2em;
    word-spacing: 14em;
    text-indent: 2em;
    width: 99%;
    text-align: center;
    position: fixed; /* Add this line */
  }

  .ui.tabular.menu .item {
    font-family:PremierSans-Heavy,Arial,Helvetica Neue,Helvetica,sans-serif;
    color: white;
    font-weight:bold;   
  }

  .ui.tabular.menu .active.item {
    background-color: orange;
    color:white;
  }